/*reset*/
*{margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
a{color: #333333; text-decoration: none;}
li{list-style: none;}
table{border-spacing: 0;}

/*레이아웃*/
#wrap {width: 1200px; margin: 0 auto;}
#side {float: left; width: 300px; height: 850px; text-align: center; background: #cccccc;}
#side .logo {width: 300px; height: 150px; line-height: 150px; background: #666666;}
#side .nav {width: 300px; height: 700px; background: #666666;}
#side .nav li {text-align: center; background: #333333;}
#side .nav li a {padding: 10px; display: block; color: #ffffff; background: rgba(0, 0, 0, 0.3);}
#side .nav li a:hover {background: rgba(0, 0, 0, 0.4);}
#side .nav li ul.submenu {display: none;}

#content {float: left; width: 900px; height: 850px; background: #dddddd;}

/*header*/
#side .logo {width: 300px; height: 150px; background: #999999;}
#side .nav {width: 300px; height: 700px; background: #888888;}

/*banner*/
#banner {width: 900px; height: 450px; background: #777777;}

/*contents*/
#contents {}
#contents > div {float: left; width: 33.33333%; height: 300px;}
#contents > div.cont1 {background: #666666;}
#contents > div.cont2 {background: #555555;}
#contents > div.cont3 {background: #444444;}

/*footer*/
#footer {}
#footer .foot1 {float: left; width: 200px; height: 100px; background: #333333;}
#footer .foot2 {float: left; width: 700px; height: 50px; background: #222222;}
#footer .foot3 {float: left; width: 700px; height: 50px; background: #111111;}