@charset "utf-8";

/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
a {color: #222328; text-decoration: none;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/*layout*/
#wrap {width: 1000px; margin: 0 auto; height: 750px; padding-top: 20px;}
#aside {float: left; width: 250px; height: 750px;}
#contents {float: left; width: 750px; height: 350px;}
#footer {position: relative; float: left; width: 100%; height: 100px;}

/*aside*/
#aside h1 {padding-top: 30px; padding-left: 20px;}
#aside h1 img {width: 150px;}
#aside .nav {}
#aside .nav ul {padding-top: 40px; padding-left: 20px;}
#aside .nav ul li {position: relative; line-height: 50px;}
#aside .nav ul li a {display: block; font-size: 24px; font-weight: bold; transition: 0.3s;}
#aside .nav ul li a:hover {background: #0068b7; color: #ffffff;}
#aside .nav ul li ul.submenu {display: none; position: absolute; left: 120px; top: -20px; background: #ffffff; z-index: 50; width: 200px; height: 150px; padding-top: 20px;}
#aside .nav ul li ul.submenu li {line-height: 30px;}
#aside .nav ul li ul.submenu li a {display: block; font-size: 12px; font-weight: normal; transition: 0.3s;}
#aside .nav ul li ul.submenu li a:hover {background: #009fa8; color: #ffffff;}

/*banner*/
.banner {height: 350px; overflow: hidden;}
.banner img {width: 100%; display: block;}

/*slideList*/
.slideList {width: 2250px; position: relative;}
.slideList .slideImg {position: relative; width: 750px; height: 350px; float: left;}
.slideList .slideImg h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); padding: 10px 30px; background: rgba(0,0,0,0.5); color: #ffffff; border-radius: 25px;}

/*contents*/
#contents .notice {float: left; width: 32.3333%; margin-right: 1%;}
#contents .gallery {float: left; width: 32.3333%; margin-right: 1%;}
#contents .link {float: left; width: 32.3333%; margin-right: 1%;}

/*notice*/
.notice {padding-top: 15px;}
.notice ul {padding-top: 5px;}
.notice ul li {}
.notice ul li a {font-size: 24px; font-weight: bold;}
.notice ul li ul {line-height: 30px; padding-top: 10px;}
.notice ul li ul li {white-space: nowrap; text-overflow: ellipsis;}
.notice ul li ul li a {font-size: 14px; font-weight: normal;}
.notice ul li ul li a.layers {transition: 0.3s;}
.notice ul li ul li a.layers:hover {color: #f8b500; font-weight: bold;}
.notice ul li ul li span {font-size: 12px; padding-left: 5px;}

/*gallery*/
.gallery {padding-top: 90px;}
.gallery ul {padding-left: 80px;}
.gallery ul li {float: left; margin-right: 2%;}
.gallery ul li a {}
.gallery ul li img {width: 50px;}

/*link*/
.link {padding-top: 20px;}
.link ul {padding-left: 90px;}
.link ul li {float: left; margin-right: 4%;}
.link ul li a {display: block; text-align: center; padding-top: 5px;}
.link ul li img {width: 60px;}
.link ul li span {display: block; padding-top: 10px;}

/*footer*/
#footer h2 {float: left; padding-top: 30px; padding-left: 30px;}
#footer h2 img {width: 150px;}
#footer address {font-style: normal; padding-left: 300px; padding-top: 15px; line-height: 30px;}
#footer .select {position: absolute; left: 850px; top: 50px;}
#footer .select select {}
#footer .select select option {border: none; width: 130px; height: 130px; background: #ffffff; padding: 10px 30px;}

/*layer*/
.layer_bg {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8);}
.layer {display: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 500px; height: 500px; padding: 10px 30px; background: #ffffff; border: 2px solid #0068b7;}
.layer h2 {padding: 50px; font-size: 18px; font-weight: bold; text-align: center; color: #009fa8;}
.layer p {padding: 30px 50px; font-size: 12px; font-weight: normal; line-height: 30px;}
.layer .close {position: absolute; right: 20px; bottom: 20px; font-size: 20px;}